@charset "UTF-8";
@import "lib/normalize", "common/common", "common/main";

img[alt="horse"] {
	margin-bottom: 7px;
	margin-right: 7px;
	margin-left: 0px;
}

/* top_pic */
.top_pic {
	height: 630px;
	width: 100%;
	margin-bottom: 30px;
	min-height: 100%;
	background-size: cover; /*ボックス全体をカバーする大きさで表示*/
	background-image: url('../img/top_pic_1.jpg');
	background-repeat: no-repeat;
	background-position: right top;
	position: relative;
	.logo {
		width: 35%;
		position: absolute;
		top: 10%;
		left: 5%;
	}
	& > a {
		position: absolute;
		bottom: 20px;
		right: 20px;
		width: 400px;
		height: 140px;
		display: block;
		z-index: 1;
	}
	.pop {
		position: absolute;
		bottom: 20px;
		right: 20px;
		width: 400px;
		height: 140px;
		background: rgba(255,255,255,0.9);
		div:first-child {
			width: 180px;
			float: left;
			line-height: 1.8;
			padding-top: 4px;
			padding-left: 4px;
			p:first-child {
				font-size: 11px;
			}
			p:last-child {
				font-size: 9px;
			}
		}
		div:last-child {
			width: 215px;
			float: right;
			font-size: 13px;
			p {
				color: #E8391B;
				font-weight: bold;
				margin-top: 12px;
				margin-bottom: 8px;
			}
		}
		ul {
			margin-top: 12px;
		}
		li {
			list-style: none;
			display: inline-block;
		}
	}
	a:hover + .pop {
		background: rgba(255,255,255,1);
	}

}


/* news_live: */
section {
	width: 1200px;
	margin: auto;
	margin-bottom: 30px;
	.box {
		width: 530px;
		height: 210px;
		overflow: auto;
		text-align: left;
		background-color: #FEFEFE;
		border-radius: 5px;
		padding: 10px 20px;
		border: 1px #CCC solid;
		position: relative;
		& > a {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			display: block;
			z-index: 1;
		}
		& > .more {
			position: absolute;
			right: 22px;
			bottom: 13px;
			z-index: 0;
			text-decoration: underline;
			color: #0051A4;
			font-size: 14px;
			display: none;
			a {
				display: inline
			}
		}
		&> a:hover {
			background: rgba(180,232,251,0.4);
		}
	}
	.live > a:hover {
		background: rgba(248,181,0,0.4);
		& + .more {
			display: block
		}
	}
	div{
		h2 {
			margin-bottom: 10px;
		}ul {
			font-size: 14px;
			line-height: 1.8;
		}li {
			list-style: none;
		}
		&:first-child {
			float: left;
		}
	}
}
.last_section {
	padding-bottom: 100px;
	margin-top: 30px;
	margin-bottom: 0;
}
ul.news li {
	list-style: disc;
	margin-left: 30px;
}
section div:last-child {
	float: right;
}
#line{
	float: none;
	width: 100%;
	margin: auto;
}
#line img{
	width: 100%;
	margin-top: 5px;
}
ul.live{
	li {
		margin-left: 10px;
		margin-bottom: 5px;
	}li a {
		margin-left: 8px;
	}
}
.japanese {
	vertical-align: 14%;
	margin-left: 28px;
	font-size: 14px;
	position: relative;
	width: 100%
}
.japanese:before{
	content: "";
	position: absolute;
	width: 5px;
	height: 1px;
	top: 8px;
	left: -15px;
	border-top: 1px #353535 solid;
}
.box .date {
	font-size: 9px;
	position: relative;
}

/* vine */
.vine {
	float: none;
	h2{
		text-align: left;
	}
}
iframe.vine-embed {
	max-width: 100%;
	max-height: auto;
}
/*
.vine > div, .vine > iframe{
	display: inline-block;
}
*/

/* youtube */
.youtube {
	float: none;
}
/* twitter */
div.twitter_widget_style {
	width: 575px;
}

/* mail magagine */
div.mail_magagine {
	height: 278px;
	margin-top: 0;
}
div.mail_magagine p {
	width: 90%;
	margin: auto;
	font-size: 14px;
}
table.mail_magagine {
	width: 100%;
	margin-top: 10px;
	border: none;
}
table.mail_magagine tr {
	height: 50px
}
table.mail_magagine tr td:first-child {
	text-align: center;
	font-size: 1em;
}
table.mail_magagine input[type="text"] {
	width: 280px;
}
table.mail_magagine input[type="submit"] {

}

/* diary */
.diary {
	clear: both;
	height: 85px;
	margin-top: 15px;
}

/******  tablet  ******/
@media screen and (max-width: 1200px) {

	section {
		width: 100%;
		.box {
			width: 44%;
			& > .more {
				display: block;
			}
		}
	}
	/* twitter */
	div.twitter_widget_style {
		width: 45%;
	}
	div.magagine_wrap{
		width: 54%;
	}
	div.mail_magagine {
		width: 90%;
		height: auto;
	}
}
@media screen and (max-width: 768px) {
	/* twitter */
	div.twitter_widget_style {
		width: 100%;
		float: none;
	}
	div.mail_magagine {
		width: 100%;
	}
	div.magagine_wrap {
		float: none;
		width: 100%;
	}
	section {
		div:first-child {
			float: none;
		}
		div:last-child {
			float: none;
		}

		.box {
			width: 93%;
			height: auto;
			margin: auto;
			margin-top: 10px;
		}
	}
}

/******  smart phone  ******/
@media screen and (max-width: 640px) {

	img[alt="horse"] {
		margin-bottom: 7px;
		margin-right: 7px;
		margin-left: 5px;
	}

	/* top_pic */
	.top_pic {
		height: 520px;
		width: 100%;
		margin-bottom: 30px;
		min-height: 100%;
		background-size: cover; /*ボックス全体をカバーする大きさで表示*/
		background-image: url('../img/top_pic_1.jpg');
		background-repeat: no-repeat;
		background-position: center top;
		position: relative;

		.logo {
			width: 80%;
			position: absolute;
			top: 2%;
			left: 10%;
		}
		&> a {
			position: absolute;
			bottom: 5px;
			right: 0;
			width: 100%;
			height: 269px;
			display: block;
			z-index: 1;
		}


		.pop {
			position: absolute;
			bottom: 5px;
			right: 0;
			width: 100%;
			height: 269px;
			background: rgba(255,255,255,0.9);
			div:first-child {
				width: 100%;
				float: none;
				line-height: 1.8;
				padding-top: 4px;
				padding-left: 0;

				p:first-child {
					font-size: 11px;
				}
				p:last-child {
					font-size: 9px;
				}

			}
			div:last-child {
				width: 100%;
				float: none;
				font-size: 13px;
				p {
					color: #E8391B;
					font-weight: bold;
					margin-top: 12px;
					margin-bottom: 8px;
				}
			}

			ul {
				margin-top: 12px;
			}
			li {
				list-style: none;
				display: inline-block;
			}
		}


		a:hover + .pop {
			background: rgba(255,255,255,1);
		}


	}

	/* news_live: */
	section {
		width: 100%;
		margin: auto;
		margin-bottom: 0;
		.box {
			width: 100%;
			height: auto;
			overflow: auto;
			text-align: left;
			background-color: transparent;
			border-radius: 0;
			padding: 0;
			border: 0;
			position: relative;
			margin-bottom: 25px;
			margin-top: 0px;
			& > a {
				display: none;
			}
			&  > .more {
				position: static;
				right: 22px;
				top: 7px;
				z-index: 0;
				text-decoration: underline;
				color: #0051A4;
				font-size: 14px;
				display: block;
				text-align: center;
				margin: auto;
				margin-top: 15px;
				background: #ffffff;
				width: 90%;
				height: 40px;
				line-height: 2.5;
				border-radius: 3px;
				a {
					display: block;
					font-size: 16px;
				}
			}
			& > a:hover + .more {
				display: block
			}
		}
		.live:hover > .more {
			display: block;
		}

		div{
			h2 {
				margin-bottom: 10px;
			}
			ul {
				font-size: 13px;
				line-height: 1.8;
			}
			li {
				list-style: none;
			}

			&:first-child {
				float: none;
			}
		}
	}
	/*section .box > a:hover {
	 background: rgba(180,232,251,0.0);
	 }*/
	 .last_section {
	 	padding-bottom: 100px;
	 	margin-top: 30px;
	 	margin-bottom: 0;
	 }
	 ul.news li {
	 	list-style: disc;
	 	margin-left: 30px;
	 }
	 section div:last-child {
	 	float: none;
	 }
	 ul.live li {
	 	margin-left: 10px;
	 	margin-bottom: 5px;
	 	a {
	 		margin-left: 8px;
	 	}
	 }
	 .japanese {
	 	vertical-align: 14%;
	 	margin-left: 28px;
	 	font-size: 14px;
	 	position: relative;
	 	width: auto
	 }
	 .japanese:before {
	 	content: "";
	 	position: absolute;
	 	width: 5px;
	 	height: 1px;
	 	top: 8px;
	 	left: -15px;
	 	border-top: 1px #353535 solid;
	 }
	 .box .date {
	 	font-size: 9px;
	 	position: relative;
	 }

	/* youtube */
	.youtube {
		position: relative;
		margin-top: 1.2em;
		margin-bottom: 1.2em;
		padding-top: 69px;
		padding-bottom: 50%;
		overflow: hidden;
	}
	.youtube iframe {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
	}

	/* twitter */
	div.twitter_widget_style {
		width: 90%;
		margin: auto;
	}

	/* mail magagine */
	div.mail_magagine {
		height: auto;
		margin-top: 20px;
		.japanese {
			display: block
		}
		p {
			width: 90%;
			margin: auto;
			font-size: 14px;
		}
	}
	table.mail_magagine {
		width: 100%;
		margin-top: 10px;
		tr {
			height: 50px
		}
	}
	table.mail_magagine tr td:first-child {
		text-align: center;
		font-size: 12px;
	}
	table.mail_magagine input[type="text"] {
		width: 150px;
	}
	/**/
	table.mail_magagine input[type="email"] {
		width: 150px;
	}
	table.mail_magagine input[type="submit"] {
		width: 70%;
		height: 40px;
		margin-top: 15px;
	}
	/* diary */
	.diary {
		clear: both;
		height: 85px;
		margin-top: 15px;
	}
}
