<!doctype html>
<html class="no-js" lang="ja">
<head>
  <title>title</title>
  <link rel="stylesheet" href="css/style.css">
  <script src="js/main.js"></script>
</head>
<body>
  body
  <p class="text">text</p>
</body>
</html>
